body {
    width: 100%;
    height: 862px;
    /*overflow:hidden;*/
    font-size: 14px;
    font-family: "Microsoft YaHei";
    background: #F1F1F1;
}


/*-----------------Navigator-----------------*/


/*-----------------Screen--------------------*/

.bannerHolder {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 42px;
}

.bannerList {
    width: 500%;
    height: 100%;
    transition: left 1s;
    position: relative;
    /*position: absolute;*/
    left: 0;
}


/*.bannerList::after{
	content:".";
	width: 0;	height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}*/

.bannerList>li {
    width: 20%;
    height: 100%;
    /*background:#F1F1F1;*/
    overflow: auto;
    display: block;
    float: left;
    display: none;
    /*transition: 0.1s linear;*/
}

.section_on {
    display: block !important;
}

.color1 {
    background: #fda44c;
}

.color2 {
    background: #e47474;
}

.color3 {
    background: #43c08c;
}

.color4 {
    background: #4392c0;
}


/*---------------MenuLeft-------------------*/

.menuLeft {
    width: 155px;
    height: 100%;
    position: fixed;
    float: left;
    left: 0;
    display: block;
}

.menuLeft li {
    width: 100%;
    height: 70px;
    display: block;
    line-height: 56px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.menuLeft>li span {
    display: block;
    float: left;
    line-height:70px;
}

.menuLeft li a {
    text-decoration: none;
    color: #fff;
}

.img3 {
    width: 41px;
    height: 41px;
    margin-left: 9px;
    margin-top: 9px;
}

.img2 {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

.img1 {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
}

.menuLeft img {
    display: block;
    float: left;
}

.first-title-on-1 {
    background: #D38436;
}

.first-title-on-2 {
    background: #C64D4D;
}

.first-title-on-3 {
    background: #209c7b;
}

.first-title-on-4 {
    background: #1e7aa5;
}

.triangle {
    width: 0;
    height: 0;
    float: right;
    right: 0px;
    top: 22px;
    position: relative;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 13px solid #F1F1F1;
    visibility: hidden;
}

.triangleOn {
    visibility: visible;
}


/*---------------Content--------------------*/

.content1 {
    width: 825px;
    height: 690px;
    background: #ffffff;
    margin-left: 13.5%;
    margin-top: 35px;
    position: relative;
    float: left;
    display: block;
    border: 1px solid;
    border-color: #C0C0C0;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.content1 li {
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.content1 li embed {
    width: 650px;
    height: 600px;
    margin-left: 35px;
    display: block;
}

.content2 {
    width: 650px;
    height: auto;
    background: #ffffff;
    margin-left: 24%;
    margin-top: 3%;
    position: relative;
    float: left;
    display: block;
    border: 1px solid;
    border-color: #C0C0C0;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.content-list {
    width: 92%;
    height: auto;
    /*position: absolute;*/
    top: 0;
    left: 0;
    display: none;
}

.word-list {
    width: 100%;
    height: auto;
    /*position: absolute;*/
}

.contentItem {
    width: 100%;
    height: auto;
    padding: 20px 20px 20px 20px;
    background: #fff;
    /*position: absolute;*/
    display: none;
    /*top:0;	left: 0;*/
}

.content-list-on {
    display: block !important;
}

.contentItem_on {
    display: block;
    z-index: 2;
}


/*---------------article-list-----------------*/

.article-list-holder {
    width: 120px;
    height: 690px;
    background: #F1F1F1;
    position: fixed;
    margin-top: 29px;
    margin-left: 155px;
    float: left;
    display: block;
    border-right: 1px solid #C0C0C0;
    padding-left: 30px;
}

.article-list-holder>li {
    width: 120px;
    height: 100%;
}

.article-list {
    position: absolute;
    display: none;
}

.article-list-on {
    display: block;
}

.article-list-title {
    width: 100%;
    height: 26px;
    line-height: 26px;
    font-size: 18px;
}

.article-list-title-2 {
    color: #e47474;
    border-left: 6px solid #e47474;
}

.article-list-title-3 {
    color: #43c08c;
    border-left: 6px solid #43c08c;
}

.article-list-title-4 {
    color: #4392c0;
    border-left: 6px solid #4392c0;
}

.article-list-item>li {
    width: 100px;
    height: 22px;
    margin-top: 5px;
    line-height: 22px;
    font-size: 12px;
    cursor: pointer;
}

.article-list-title-on {
    background: #DDDDDD;
}

.article-list-item {
    background: #F1F1F1;
}

.article-list-item li:hover {
    background: #DDDDDD;
}


/*---------------MenuRight--------------------*/

.menuRight {
    width: 280px;
    height: 690px;
    display: block;
    display: block;
    position: fixed;
    right: 30px;
    padding-top: 32px;
    /*float: right;*/
    /*float: left;
	margin-top: 0;
	margin-left: 37px;
	*/
}

.cutline {
    width: 0px;
    height: 690px;
    border-left: 1px solid #C0C0C0;
    display: block;
    float: left;
}

.recommand-title {
    width: 100px;
    height: 26px;
    margin-left: 20px;
    line-height: 26px;
    font-size: 18px;
    /*background: #fda44c;*/
}

.recommand-title-1 {
    border-left: 6px solid #fda44c;
    color: #fda44c;
}

.recommand-title-2 {
    border-left: 6px solid #e47474;
    color: #e47474;
}

.recommand-title-3 {
    border-left: 6px solid #43c08c;
    color: #43c08c;
}

.recommand-title-4 {
    border-left: 6px solid #4392c0;
    color: #4392c0;
}

.newMessageBox {
    width: auto;
    height: auto;
    padding-left: 10px;
    float: left;
    display: block;
    top: 76%;
    position: fixed;
}

.new {
    width: auto;
    height: auto;
    /*background: #000000;*/
    margin-left: 20px;
    float: left;
    display: block;
}

.new img {
    /*width: 100%;	height: 100%;*/
}


/*------------------Section5-----------------------*/

#section5 {
    background: url(../../img/detail/join-us.jpg);
    background-size: 100% 100%;
}

.us-list {
    width: 35%;
    height: 70px;
    display: block;
    margin-left: 32.5%;
    margin-top: 25%;
}

.us-list li {
    width: 45%;
    height: 100%;
    float: left;
    margin-left: 5%;
    border-radius: 5px;
    cursor: pointer;
}

.us-list li:hover {
    background: #C0C0C0;
}

.us-list li img {
    width: auto;
    height: auto;
    margin-top: 3px;
    display: block;
}

.communicate-list {
    width: auto;
    height: 180px;
    margin-left: 2.5%;
    margin-top: 45px;
}

.communicate-list li {
    width: 20%;
    height: 100%;
    margin-left: 3%;
    background: #C0C0C0;
    border-radius: 5px;
    opacity: 0.6;
    /*opacity: 0.2;*/
    color: white;
    cursor: pointer;
    display: block;
    float: left;
}

.communicate-list li img {
    margin-left: auto;
}

.communicate-list li:hover {
    opacity: 1;
}

.footer {
    width: auto;
    height: auto;
    margin-left: 500px;
    margin-top: 120px;
    display: block;
}

.footer img {
    width: 50px;
    height: 50px;
    margin-right: 0;
    float: left;
    display: block;
}

.foot-wordbox {
    float: left;
    margin-top: 5px;
    text-align: center;
    color: white;
    font-size: 12px;
}