/*------------------navigator---------------------*/
.navigatorHolder{
	width: 100%;	height: 42px;
	background: #555;
	display: block;
	position: fixed;
	z-index: 100;
	opacity: 0.9;
}
.navigatorList{
	width: 70%;
	margin: 1px auto;
	display: block;
}
.navigatorItem{
    width:8%;
	display: block;
    margin-left:20px;
	float: left;
}
.navigatorItem a{
	height: 37px;
    width:100%;
    margin-left: 10px;
	color: #fff;
	text-decoration: none;
	line-height: 37px;
	cursor: pointer;
}
#logo{
	width: 12%;	height: 35px;
	margin-top: 4px;
	margin-left: 3%;
	background: url(../../img/detail/logo.png);
	background-size: 100% 100%;
}
.logo_a{
    width:12% !important; height:35px !important;
    display:block;
}
/*------------------navigator  active---------------------*/
.navigator_slider{
	width: 5%;	height: 0px;
	left: 31%;	bottom: 0px;
	position: absolute;
	border: solid #fff;
	border-radius: 2px;
	z-index: 110;
	transition: 0.1s linear;
}